blockquote {
  background: #FFCCCC;
  border-left: 10px solid #660066;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.utterances {
  max-width: 100%;
}

a {
  text-decoration-color: #CCCCFF;
  text-decoration-thickness: .125em;
  text-underline-offset: .1rem;
  color:#9966CC;
  font-weight: 600;
}
